*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2fbbde;
    --secondary-color: #12b93f;
    --third-color: #3b679a;
    --fourth-color: #ece6e6;
    --fiveth-color: #00f28e;
}

body{
    padding: 50px 150px;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-color: rgba(207, 198, 198, 0.705);
    background-image: url(../img/cidade_noite_horizonte.jpg);
    background-repeat: no-repeat;
    
}


.espelho{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    height: 75vh;
    padding: 20px;    
    background: rgba(255, 255, 255, 0.141);
    box-shadow: 0px 12px 12px 15px rgba(26, 24, 24, 0.555);
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.261);

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(137, 43, 226, 0.814);*/
    width: 100%;
    height: 100%;
}

.container .quadro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    /*border: 2px solid yellow;*/
}

.container .quadro div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    color: antiquewhite;
    font-family: sans-serif;
    letter-spacing: 2px;
    /*border: 3px solid white;*/
}

.container .quadro div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.container .quadro div a img{
    /*border: 4px solid rgb(29, 224, 224);*/
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.container .quadro .acesso{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    padding: 10px;
    /*border: 5px solid greenyellow;*/
}

.container .quadro form{
    padding: 5px 10px;
    margin: 10px 0;
    height: 130px;
    width: 100%;
    /*border: 2px solid red;*/
}

.container .quadro form p{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 2px;
}

.container .quadro form input{
    height: 30px;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: none;
}

.container .quadro button{
    height: 30px;
    width: 30%;
    padding: 3px;
    border:none;
    border-radius: 5px;
    background-color: rgba(115, 167, 155, 0.189);
}

.container .quadro .acesso a p{
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
}

.container .quadro .acesso .formasLogin {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

.container .quadro .acesso .formasLogin a{
    margin: 0 10px;
}

.container .quadro .acesso .formasLogin a img{
    height: 40px;
}